@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EDU-Dictionary</h1>
</div>
<div class="text-center mt-4">
    <a asp-controller="Dictionary" asp-action="Index" class="btn btn-lg btn-success">
        📘 Open Dictionary
    </a>
</div>